@font-face {
    font-family: "IRANYekanXVF";
    src: url("asset/webfont/IRANYekanXVF.woff");
}

@font-face {
    font-family: "IRANYekanXVF";
    src: url("asset/webfont/IRANYekanXVF.woff2");
}

* {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "IRANYekanXVF";
    font-feature-settings: "kern" on, "liga" on, "calt" on;
    -moz-font-feature-settings: "kern" on, "liga" on, "calt" on;
    -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on;
    -ms-font-feature-settings: "kern" on, "liga" on, "calt" on;
    -o-font-feature-settings: "kern" on, "liga" on, "calt" on;
    font-variation-settings: "dots" 2, "slnt" 0, "DOTR" 0, "KASH" 0, "DOTS" 2;
    /* font-variation-settings: "wght" 900, "dots" 2, "slnt" 0, "DOTR" 0, "KASH" 0, "DOTS" 2; */

    -webkit-text-size-adjust: 100%;
    font-weight: 400;
    font-size: 14px;
    color: #515151;
    outline: none !important;
}

.bgc {
    background-color: turquoise;
    padding: 4px;
    margin: 4px;
    border: 1px #515151 solid;
}

html {
    direction: rtl;
    /* background-image: url("asset/JPG/pattern.jpg"); */
    background-color: #F5F5F5;
}

p {
    font-size: 12px;
    line-height: 30px;
}


a,
a:visited, li {
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

.clear-fix {
    width: 100%;
    height: 0px;
    clear: both;
    display: block;
}


.flex-on {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.annual-report {
    flex: 1 1 100px;
    background-repeat: no-repeat;
    height: 5vw;
    background-image: url("asset/JPG/annual-report.jpeg");
    background-size:cover;
    background-position: center;
    background-position-x: 48%;

}

.navigation-bar {
    width: 100%;
    padding: 0 15px;
    background-color: #ffffff;
    padding-bottom: 8px;
}

.nav-top-row {
    padding: 12px 0;
    height: 70px;
}

.nav-bottom-row {
    /* display: block; */
    width: 100%;
    height: 40px;
}

.right-section,
.nav-bottom-right-section {
    padding: 0 8px;
    flex-grow: 1;
}

.left-section,
.nav-bottom-left-section {
    justify-content: flex-end;
    padding: 8px;
    flex-grow: 0;
    /* width: 370px; */
}



.logo-container {
    height: 30px;
    width: 110px;
    text-align: right;
    /* background: url(asset/SVG/logo.svg) no-repeat 50%; */
    background-size: contain;
}

.search-conainer {
    display: block;
    width: 60%;
}

.search-bar {
    width: 100%;
    height: 100%;
    font-weight: 300;
    border-radius: 8px;
    border: none;
    padding: 14px 45px 14px 10px;
    display: block;
    outline: none;
    background-color: #F0F0F1;
}

.search-icon {
    position: absolute;
    right: 14px;
    top: 10px;
    font-size: 24px;
    width: 36px;
    height: 36px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.left-section>a:nth-child(1) {
    font-size: .857rem;
    line-height: 1.833;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #F0F0F1;
}

.head-icon {
    position: relative;
    top: 2px;
    margin-left: 8px;
    font-size: 20px;
    line-height: 24px;
    justify-content: center;
}

.left-section>span,
ul>span {
    background-color: #F0F0F1;
    width: 1px;
    height: 24px;
}

.menu {
    padding: 8px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 500;
}

.main-banner {
    gap: 12px;
    flex-wrap: nowrap;
    height: 33vw;
    padding: 5px 15px;

}
.main-banner-left {
    flex: 1 1 33%;
    align-self: stretch;
    gap: 12px;
    justify-content: space-between;
    flex-direction: column;
}

.main-banner-left>* {
    flex: 1 1 100px;
    align-self: stretch;
    background-size: cover;
    border-radius: 8px;
}

.main-banner-left>*:nth-child(1) {
    background-image: url("asset/GIF/promotion-banner.gif");
}

.main-banner-left>*:nth-child(2) {
    background-image: url("asset/JPG/promotion-dgstyle.jpg");
}

.main-banner-right {
    flex: 1 1 66%;
    align-self: stretch;
}

.image-container {
    width: 100%;
    display: flex;
    align-self: stretch;

    background-image: url("asset/GIF/dynamic-banner.gif");
    background-size: cover;
    border-radius: 8px;
}

.bullet-indicator {
    /* z-index: 2; */
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background-color: #dddddd;
}

.bullet-indicator:nth-child(3) {
    opacity: 60%;
}

.indicators {
    width: 100%;
    justify-content: center;
    gap: 12px;
    align-self: flex-end;
    padding-bottom: 10px;
    position: absolute;

}

.arrows {
    width: 100%;
    justify-content: space-between;
    gap: 12px;
    padding-bottom: 10px;
    position: absolute;
}

.arrow-icon {
    padding: 20px;
    font-size: 24px;
    color: #dddddd;
}

/* Suprising Row */

.suprise-row {
    gap: 8px;
    width: 100%;
    align-items: stretch;
    padding: 35px 16px;

    width: 100%;
    margin-top: 16px;
    background: #ef394e;
}

.suprise-row-right-image {
    flex: 1 1 25%;
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-end;

  
    background-color: transparent;
    color: #4a5f73;
    text-decoration: none;
}

.suprise-row-right-image-holder{
    flex-grow: 1;
    align-self: stretch;
    background-image: url("asset/PNG/recomendation-banner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.suprise-row-lef-scrolling-section {
    flex-wrap: nowrap;
    flex: 1 1 70%;
    gap: 10px;
    overflow-x:auto;
}

.suprise-row-ads-box {
    display: flex;
    flex: 1 0 31%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;

    border-radius: 8px;
    background-color: #fff;
  
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    height: 36vw;
}

.see-all-buttun {
    position: relative;
    border-radius: 8px;
    padding: 9px 16px;
    line-height: 1.6;
    font-weight: 700;
    border: 1px solid #fff;
    color: #fff;

}

.see-all-buttun>i {
    color: #F0F0F1;
    margin-right: 12px;
    position: relative;
    top: 2px;
}


/* ADD BOX */

.suprise-row-ads-box>* {
    align-self: stretch;
    color: #4a5f73;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
}

.ads-box-image {
    height: 16vw;
    background-image: url("asset/JPG/item-01.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ads-box-title {
    flex-grow: 1;
    
}

.ads-box-gift-DGclub {
    margin-top: 16px;
    margin-bottom: 4px;
}

.ads-box-off-price {
    justify-content: flex-end;
    gap:4px;
}

.percentage-box {
    background-color: #ef394e;
    color: #F0F0F1;
    padding: 4px 8px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 15px;
}

.crossed-price {
    color: #8c8c8c;
    text-decoration: line-through;
    font-size: 15px;
    font-weight: 250;
}

.final-price {
    justify-content: flex-end;
    gap:4px;
    padding: 4px 0px;
}

.just-tooman{
    font-size: 14px;
    color: #333333;
}

.bold-price {
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.timer {
    justify-content: flex-end;
    gap:4px;
    margin-top: 16px;
}

.timer>i, .timer {
    font-size: 14px;
    color: #8c8c8c;
    font-weight: 500;
}